/* 초기화 */
* {
    margin: 0;
    padding: 0;
    font: normal 12px '고딕';
}
ul, ol {list-style: none;}
a {text-decoration: none; color: #111;}

#wrapper {
    width: 100%;
    height: auto;
}

/* 헤더영역 */
header {
    width: 100%;
    height: auto;
}

header > div {    
    width: 100%;            
    box-sizing: border-box;
}

header > .top {    
    height: 35px;
    border-bottom: 1px solid #e9e9e9;
}

header > .top > div {
    width: 1200px;
    height: 100%;
    margin: 0 auto;            
    text-align: right;
}

header > .top > div > a {
    display: inline-block;
    height: 100%;
    line-height: 35px;
    border-left: 1px solid #e9e9e9;
    padding: 0 10px;
    color: #646464;
}
header > .top > div > a:last-child {
    border-right: 1px solid #e9e9e9;
}

header > .top > div > a:hover {
    color: #333;
    border-bottom: 1px solid #444;
}

header > .logo {
    height: 115px;
    border-bottom: 1px solid #e9e9e9;
}
header > .logo > div {
    position: relative;
    width: 1200px;
    height: 100%;
    margin: 0 auto;
}
header > .logo > div > a {
    display: inline-block;
    margin-top: 30px;
}
header > .logo > div > form {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -185px;
    margin-top: -22px;
    display: inline-block;
    width: 370px;
    height: 45px;            
}
header > .logo > div > form > input {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 1px solid #000;
    border-radius: 5px;
    font-size: 20px;
    padding-left: 10px;
    padding-right: 30px;
    box-sizing: border-box;
}

header > .logo > div > form > button {
    position: absolute;
    right: 6px;
    top: 10px;
    background: #fff;
    border: none;
    font-size: 20px;
    color: #333;
    outline:none;
}    

header > .menu {
    height: 46px;
    background: #f2f2f2;
    border-bottom: 1px solid #ddd;
    box-sizing: border-box;
}
header > .menu > div {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
}

header > .menu > div > ul {
    display: inline-block;
    margin-top: 16px;
}        
header > .menu > div > ul:nth-child(1) {float: left;}
header > .menu > div > ul:nth-child(2) {float: right;}
header > .menu > div > ul > li {float: left;}
header > .menu > div > ul > li > a {
    border-left: 1px solid #e9e9e9;
    padding: 0 10px;
}
header > .menu > div > ul > li:last-child > a {
    border-right: 1px solid #e9e9e9;
}

/* 메인영역 */
main {
    width: 1200px;
    height: auto;
    margin: 0 auto;
    border: 1px solid blue;
    overflow: hidden;
}
main > aside {
    float: left;
    width: 215px;
    min-height: 600px;
    border: 1px solid green;
    box-sizing: border-box;
}

main > aside > .category {
    position: relative;
    width: 100%;
    height: 425px;
    background: #333949;
}

main > aside > .category > li {
    width: 100%;
    height: 40px;            
    line-height: 40px;
    padding-left: 10px;
    color: #ccc;
    font-size: 13px;
    font-weight: bold;            
    border-bottom: 1px solid #2b313f;
    box-sizing: border-box;
}
main > aside > .category > li > a {
    display: block;
    width: 100%;
    height: 100%;            
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
}

main > aside > .category > li > a:hover {
    background: #2b313f;
    color: #fff;
}

main > aside > .category > li > a:hover + ol {
    display: block;
}
main > aside > .category ol:hover {
    display: block;
}

main > aside > .category > li i {
    font-size: 16px;
    margin-right: 12px;
}

main > aside > .category ol {
    position: absolute;
    left: 215px;
    top: 0;
    display: none;
    width: 215px;
    height: 100%;
    background: #fff;
    border: 1px solid #787f89;
    box-sizing: border-box;
    z-index: 10000;
}
main > aside > .category ol > li {
    width: 100%;
    height: 24px;
    padding: 10px;
    box-sizing: border-box;
}
main > aside > .category ol > li > a:hover {
    color: #41ab47;
    text-decoration: underline;
}

main > aside > .best > ol > li > a .org_price > del {font-size: 10px; color: #aaa;}
main > aside > .best > ol > li > a .org_price > del::after {content: '원';}
main > aside > .best > ol > li > a .org_price > span {font-size: 10px; color: #eb000a;}
main > aside > .best > ol > li > a .org_price > span::after {content: '↓';}
main > aside > .best > ol > li > a .dis_price {margin-top: 4px;}
main > aside > .best > ol > li > a .dis_price > ins {
    font-size: 14px;
    text-decoration: none;
}
main > aside > .best > ol > li > a .dis_price > ins::after {content: '원';}


main > section {
    float: right;
    width: 985px;
    height: auto;
}
main > section > section {
    width: 100%;
    height: 425px;
}   
main > section > article {
    width: 100%;
    height: auto;
    box-sizing: border-box;
    overflow: hidden;
}
main > section > article > div.item {
    float: left;
    width: 25%;
    height: 345px;
}
main div.item > a {
    display: block;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
}
main div.item > a > .thumb {
    width: 100%;
    height: 230px;
    margin: 0 auto;
    overflow: hidden;
    text-align: center;
}
main div.item > a > h2 {
    font-size: 15px;
    font-weight: bold;
    margin-top: 4px;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
main div.item > a:hover > h2{
    text-decoration: underline;
}
main div.item > a > p {
    color: #222;
    font-size: 12px;
    line-height: 16px;
    margin: 4px 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
main div.item > a > .org_price {}
main div.item > a > .org_price > del {color: #aaa;}
main div.item > a > .org_price > del::after {content: '원';}
main div.item > a > .org_price > span {color: #eb000a;}
main div.item > a > .org_price > span::after {content: '↓';}
main div.item > a > .dis_price {margin-top: 4px;}
main div.item > a > .dis_price > ins {
    font-size: 14px;
    text-decoration: none;
}
main div.item > a > .dis_price > ins::after {content: '원';}
main div.item > a > .dis_price > span {
    display: inline-block;
    font-size: 0;
    width: 55px;
    height: 13px;
    background: url('../img/ico_freeshipping.gif') no-repeat;
    vertical-align: text-bottom;
}
main .slider {
    overflow: hidden;
}
.bx-wrapper{
    box-shadow: none;
    border: none;
    background: #fff;
}

/* list(글보기) 영역*/
#list {
    padding: 16px;
    box-sizing: border-box;
}
#list > nav {
    width: 100%;
    height: 36px;
    margin-bottom: 20px;
    border-bottom: 1px solid black;
    box-sizing: border-box;
}
#list > nav > h1 {
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    padding: 0 0 7px;
}
#list > nav > p {
    float: right;
    margin-top: 10px;
}
#list > ul {
    margin: 0 0 20px 0;
    border-top: 2px solid #111;
    border-bottom: 1px solid #dfdfdf;
    overflow: hidden;
}
#list > ul > li {
    position: relative;
    float: left;
    padding: 15px 0;
    line-height: 15px;
}
#list > ul > li > a {
    display: block;
    padding: 0 10px;
    border-right: 1px solid #ddd;
}
main > section > section {
    width: 100%;
    height: auto;
    overflow: hidden;
}
#list > section > article {
    width: 100%;    
    height: 100%;
}
#list > section > article > ul {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
#list > section > article > ul > li {
    position: relative;
    float: left;
    height: 100%;
    padding: 30px 10px;
    box-sizing: border-box;
}
#list > section > article > ul > li:nth-child(1) {
    width: 20%;
    padding: 0;
}
#list > section > article > ul > a {
    display: block;
    width: 100%;
    height: 100%;
}
#list > section > article > ul > li:nth-child(2) {
    width: 40%;
}
#list > section > article > ul > li:nth-child(3) {
    width: 20%;
}
#list > section > article > ul > li:nth-child(4) {
    width: 20%;
}
#list > section > article > ul > li:nth-child(2) > h3 {
    font-size: 16px;
    font-weight: bold;
    color: #333;
    margin-bottom: 6px;
}
main > section > section > article p {
    color: #222;
    font-size: 12px;
    line-height: 16px;
    margin: 4px 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
#list > section > article > ul > li > p > a {
    font-size: 12px;
    color: black;
}
#list > section > article .org_price > del {
    font-size: 12px;
    color: #aaa;
}
#list > section > article .org_price > del::after {
    content: "원";
}
#list > section > article .org_price > span {
    color: red;
}
#list > section > article .dis_price > ins {
    font-size: 16px;
    text-decoration: none;
}
#list > section > article .dis_price > ins::after {
    content: "원";
}
#list > section > article .free_order > span {
    display: inline-block;
    font-size: 0;
    width: 55px;
    height: 13px;
    background: url('../img/ico_freeshipping.gif') no-repeat;
    vertical-align: text-bottom;
}
#list > section > article > ul > li > h4 {
    color: #444;
    font-size: 12px;
    margin-bottom: 6px;
}
#list > section > article > ul > li > h5 {
    font-size: 0;
    width: 80px;
    height: 19px;
    background-image: url('../img/ico_power_dealer.gif');
    background-repeat: no-repeat;
}
h6.rating {
    font-size: 11px;
    background-image: url('../img/rating_star.png');
    background-repeat: no-repeat;
    background-position: 36px 0px;
    background-size: auto 100%;
}
h6.rating.star1 {width: 50px;}
h6.rating.star3 {width: 78px;}
h6.rating.star2 {width: 64px;}
h6.rating.star4 {width: 91px;}
h6.rating.star5 {width: 106px;}

#list > .paging {
    padding: 20px;
    text-align: center;
}
#list > .paging > a {
    padding: 8px;
    background: #f2f2f2;
    border: 1px solid #d7d7d7;
}

main .hit {}
main .recommend {}
main .new {}
main .discount {}

/* 푸터영역 */
footer {
    width: 100%;
    height: 192px;
    background: #f8f8f8;
    border-top: 1px solid #e9e9e9;
    box-sizing: border-box;
}
footer > ul {
    width: 1200px;
    height: 39px;
    margin: 0 auto;
    padding: 15px 0;
    border-bottom: 1px solid #e9e9e9;
    box-sizing: border-box;
    text-align: center;
}
footer > ul > li {
    display: inline-block;
    font-weight: bold;
    border-right: 1px solid #d7d7d7;
    padding: 0 10px;
}
footer > ul > li:first-child {border-left: 1px solid #d7d7d7;}

footer > div {
    width: 1200px;
    height: 100%;
    padding-top: 20px;
    box-sizing: border-box;
    margin: 0 auto;
}

footer p {
    float: left;
    height: 100%;
    font-size: 11px;
    line-height: 15px;
    color: #676767;            
}
footer p:nth-of-type(2) {
    width: 300px;
    margin-left: 30px;
    margin-right: 30px;
}

footer p > strong {
    display: inline-block;
    padding: 6px 15px 7px 0;
    color: #464646;
    font-size: 12px;
    font-weight: bold;
}